.details {
    display: flex;
    justify-content: space-evenly;
}

.detail--column {
    flex-basis: 24%;
    margin: 0 2rem;
    border: 1px dotted goldenrod;
}

.assignments {
    padding: 1rem 5rem;
}

.details__cities {
    padding: 1rem;
}

ul {
    column-count: 3;
}

li {
    /* list-style-type: none; */
}

